/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* HERO */
.hero {
    padding: 80px 20px;
    text-align: center;
    background: linear-gradient(135deg, #1e3a8a, #020617);
}

.hero h1 {
    font-size: 42px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 18px;
    opacity: 0.9;
}

/* BUTTON */
.btn {
    display: inline-block;
    margin-top: 25px;
    padding: 14px 30px;
    background: #feffff;
    color: #020617;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #d9e7de;
    transform: scale(1.05);
}

/* SECTION */
.section {
    padding: 60px 20px;
    max-width: 1100px;
    margin: auto;
}

.section.dark {
    background: #020617;
}

.section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

/* ABOUT */
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

.about img {
    max-width: 100%;
    border-radius: 20px;
}

/* GRID & CARD */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #020617;
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}


/* FOOTER */
footer {
    text-align: center;
    padding: 30px;
    background: #020617;
    color: #94a3b8;
}

.hero-img {
    width: 320px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 12px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .about {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 32px;
    }
}